API 3 - scan-url.json
{
  "name": "API 3 - scan-url",
  "nodes": [
    {
      "parameters": {
        "path": "scan-url",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-scan-url",
      "name": "Webhook - POST /scan-url",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "scan-url-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "virusTotalApiKey",
              "value": "fc8fef0c12df79ad7d5cae8d649eb6a0d2c7474503915f775c181c7288a7102d",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.virustotal.com/api/v3/urls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "={{ $('Workflow Configuration').first().json.virusTotalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.body.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "vt-submit",
      "name": "VirusTotal - Submit URL Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "wait-node",
      "name": "Wait 15 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://www.virustotal.com/api/v3/analyses/' + $('VirusTotal - Submit URL Scan').item.json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "={{ $('Workflow Configuration').first().json.virusTotalApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "vt-get-results",
      "name": "VirusTotal - Get Scan Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format VirusTotal response to match dashboard format\nconst vtResult = $input.first().json;\nconst url = $('Webhook - POST /scan-url').item.json.body.url;\n\nconst stats = vtResult.data?.attributes?.stats || {};\nconst malicious = stats.malicious || 0;\nconst suspicious = stats.suspicious || 0;\nconst harmless = stats.harmless || 0;\nconst undetected = stats.undetected || 0;\nconst total = malicious + suspicious + harmless + undetected;\n\nconst isMalicious = malicious > 0;\nconst riskLevel = malicious > 10 ? 'HIGH' : (malicious > 5 ? 'MEDIUM' : 'LOW');\n\n// Extract categories from VirusTotal result\nconst categories = [];\nif (vtResult.data?.attributes?.categories) {\n  categories.push(...Object.keys(vtResult.data.attributes.categories));\n}\nif (isMalicious) {\n  if (!categories.includes('phishing')) categories.push('phishing');\n  if (!categories.includes('malware')) categories.push('malware');\n}\nif (categories.length === 0) {\n  categories.push(isMalicious ? 'phishing' : 'safe');\n}\n\n// Calculate confidence based on vendor results\nconst confidence = total > 0 ? Math.round((malicious / total) * 100) : 0;\n\nreturn [{\n  json: {\n    url: url,\n    is_malicious: isMalicious,\n    risk_level: riskLevel,\n    threat_type: isMalicious ? 'Phishing' : 'Safe',\n    confidence: confidence,\n    vendors: `${malicious}/${total}`,\n    categories: categories,\n    timestamp: new Date().toISOString(),\n    // Additional VirusTotal data\n    virustotal_stats: {\n      malicious: malicious,\n      suspicious: suspicious,\n      harmless: harmless,\n      undetected: undetected,\n      total: total\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - POST /scan-url": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "VirusTotal - Submit URL Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal - Submit URL Scan": {
      "main": [
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "VirusTotal - Get Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal - Get Scan Results": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "scan-url-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "scan-url-workflow",
  "tags": []
}

